EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->

<!-- Arquivo XSD criado com o comando do Roteiro 4, O XSD ou XML Schema ou apenas Schema
descreve a estrutura de um documento XML. O XSD define como se compor uma mensagem SOAP,
o que pode aparecer no XML, quantas vezes, quais tipos, nomenclatura etc.  -->

<definitions targetNamespace="http://ws.estoque.com/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://ws.estoque.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xs:schema version="1.0" targetNamespace="http://ws.estoque.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="AutorizacaoFault" nillable="true" type="xs:string"/>

            <xs:element name="CadastrarItem" type="tns:CadastrarItem"/>

            <xs:element name="CadastrarItemResponse" type="tns:CadastrarItemResponse"/>

            <xs:element name="filtros" type="tns:filtros"/>

            <xs:element name="itens" type="tns:itens"/>

            <xs:element name="listaItens" type="tns:listaItens"/>

            <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

            <xs:complexType name="CadastrarItem">
                <xs:sequence>
                    <xs:element name="item" type="tns:item" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="item">
                <xs:sequence>
                    <xs:element name="codigo" type="xs:string" minOccurs="0"/>
                    <xs:element name="nome" type="xs:string" minOccurs="0"/>
                    <xs:element name="quantidade" type="xs:int"/>
                    <xs:element name="tipo" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="tokenUsuario">
                <xs:sequence>
                    <xs:element name="dataValidade" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="token" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CadastrarItemResponse">
                <xs:sequence>
                    <xs:element name="item" type="tns:item" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="listaItens">
                <xs:sequence>
                    <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="filtros">
                <xs:sequence>
                    <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="filtro">
                <xs:sequence>
                    <xs:element name="nome" type="xs:string" minOccurs="0"/>
                    <xs:element name="tipo" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="itens">
                <xs:sequence>
                    <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="todosOsItens">
        <part name="parameters" element="tns:listaItens"/>
    </message>
    <message name="todosOsItensResponse">
        <part name="parameters" element="tns:itens"/>
    </message>
    <message name="CadastrarItem">
        <part name="parameters" element="tns:CadastrarItem"/>
        <part name="tokenUsuario" element="tns:tokenUsuario"/>
    </message>
    <message name="CadastrarItemResponse">
        <part name="result" element="tns:CadastrarItemResponse"/>
    </message>
    <message name="AutorizacaoException">
        <part name="fault" element="tns:AutorizacaoFault"/>
    </message>
    <portType name="EstoqueWS">
        <operation name="todosOsItens">
            <input wsam:Action="http://ws.estoque.com/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"/>
            <output wsam:Action="http://ws.estoque.com/EstoqueWS/todosOsItensResponse"
                    message="tns:todosOsItensResponse"/>
        </operation>
        <operation name="CadastrarItem" parameterOrder="parameters tokenUsuario">
            <input wsam:Action="http://ws.estoque.com/EstoqueWS/CadastrarItemRequest" message="tns:CadastrarItem"/>
            <output wsam:Action="http://ws.estoque.com/EstoqueWS/CadastrarItemResponse"
                    message="tns:CadastrarItemResponse"/>
            <fault message="tns:AutorizacaoException" name="AutorizacaoException"
                   wsam:Action="http://ws.estoque.com/EstoqueWS/CadastrarItem/Fault/AutorizacaoException"/>
        </operation>
    </portType>
    <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="todosOsItens">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CadastrarItem">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" parts="parameters"/>
                <soap:header message="tns:CadastrarItem" part="tokenUsuario" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AutorizacaoException">
                <soap:fault name="AutorizacaoException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="EstoqueWSService">
        <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

